<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Balance Summary</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="center-page">

    <div class="form-container">

        <div class="form-box">

            <h1>📊 Financial Summary</h1>

            <p class="subtitle">
                Complete overview of your finances
            </p>

            <!-- SUMMARY CARDS -->

            <div class="summary-card income-summary">

                <h2>Total Income</h2>

                <h1>₹ {{income}}</h1>

            </div>

            <br>

            <div class="summary-card expense-summary">

                <h2>Total Expense</h2>

                <h1>₹ {{expense}}</h1>

            </div>

            <br>

            <div class="summary-card balance-summary">

                <h2>Current Balance</h2>

                <h1>₹ {{balance}}</h1>

            </div>

            <a href="/" class="back-btn">
                ⬅ Back To Dashboard
            </a>

        </div>

    </div>

</body>

</html>
